# Backend
backend/venv/
backend/venv2/
backend/Lib/
backend/Scripts/
backend/.env
__pycache__/
*.pyc
*.pyo

# Frontend
frontend/node_modules/
frontend/.next/
frontend/.env.local
frontend/.env
npm-debug.log
yarn-error.log

# General
.DS_Store
.vscode/
.idea/
