SUPABASE_URL=https://zjihrjcawcpzwmkjjuap.supabase.co
SUPABASE_KEY="sb_publishable_KkEEHh5SjlfkcsEQjWBqCA_9gh3K911"
GEMINI_API_KEY="AIzaSyDBFQQrGDDy5PGcSU-KgFiDv4h2nhQfrOo"
AT_USERNAME=sandbox
AT_API_KEY="atsk_f6dbab2b5bd23723d34614dd4cdeb749c00c172e80c228310fff3eca895a9c25588a38e3"
CLERK_JWT_KEY="-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAq7Z2tygE2bW+1rtIuMYV\nPuAN4c65g+CcCZvPzziTpjoM9ybj88z+eKVYBxSI6y1FJZPZdPWm+vjqArbACAR6\nZGyx1FiLHP6XWZIAwPFJQirOkojarP4gGCCFRWpJvZnllI16nx+Q3E5lRHwiqY97\n4B4TfEeyZ4LnSNAZFLs8ICqj9pp4JrPkMG3J4d9OCK3iLkYTvBSBKi6YQNhx3j5Q\n+gPhzOweMgA4tNr2PqVXqLPGT767Nrl92iQXgCh4w5vk6sqhyBsDti8x5ib32+He\nY/I2CfxW0t5j+ud/paKwCzIyOROwVFonoeKneIr2lhT7Nv8KO/bLyJkEEWoA6do2\nxwIDAQAB\n-----END PUBLIC KEY-----"

FRONTEND_URL=http://localhost:3000
